body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #c4b2d6;
  font-family: "Press Start 2P", cursive;
}

.box {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  gap: 15px;
}

.score {
  font-size: 20px;
}

.Head {
  text-align: center;
  font-size: 20px;
}

.container {
  display: grid;
  grid-gap: 5vh;
  height: auto;
  margin-top: 55px;
}

.Red {
  width: 120px;
  height: 120px;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid black;
}

.Blue {
  width: 120px;
  height: 120px;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid black;
}

.Yellow {
  width: 120px;
  height: 120px;
  background-color: yellow;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid black;
}

.Green {
  width: 120px;
  height: 120px;
  background-color: green;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid black;
}

@media screen and (min-width: 768px) {
  .Head {
    font-size: 30px;
  }

  .score {
    font-size: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .Red {
    width: 140px;
    height: 140px;
  }

  .Blue {
    width: 140px;
    height: 140px;
  }

  .Yellow {
    width: 140px;
    height: 140px;
  }

  .Green {
    width: 140px;
    height: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .Head {
    font-size: 50px;
  }

  .score {
    font-size: 50px;
  }

  .Red {
    width: 180px;
    height: 180px;
  }

  .Blue {
    width: 180px;
    height: 180px;
  }

  .Yellow {
    width: 180px;
    height: 180px;
  }

  .Green {
    width: 180px;
    height: 180px;
  }
}
